<!-- Welcome Modal -->
<div class="modal fade" id="welcomeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="welcomeModalLabel">作業前の確認</h1>
      </div>
      <div class="modal-body">
      <p>開始前に、次の点を確認してください。</p>
      <ul>
        <li>内蔵バッテリーを接続したままにし、十分に充電された状態で作業してください。</li>
        <li>永続保存の前に、一時校正や表示確認で結果を確かめてください。</li>
        <li>USB ケーブルを使用し、処理が終わるまでブラウザを閉じないでください。</li>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="welcome_accepted();">確認しました</button>
      </div>
    </div>
  </div>
</div>
